.header {
    background: $base-green;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
}

.header__title {
    display: flex;
    align-items: center;
    h1 {
        margin-left: $s-size;
        margin-right: $s-size;
        color: $dark-grey;
    }
}